@import url("https://fonts.googleapis.com/css?family=Roboto");

$blue: #1cabe2;
$blue-light: #59bae0;
$bg-gray: #f1f1f1;
$font: #303030;
$white: #fff;
%shadow {
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25);
}

a {
    color: $white;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: $font;
    margin: 0;
    padding: 0;
}
header {
    height: 7.5em;
    width: 100%;
    background: $blue;
    display: grid;
    color: $white;

    .header-1 {
        justify-self: end;
        padding-top: 0.5em;
        .active {
            border-top: 4px solid $white;
        }
        .margin-around {
            margin: 0 1.7em;
        }
        a {
            padding-top: 0.6em;
            font-size: 0.75em;
        }
    }
    .header-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .brand {
            font-size: 2.5em;
            display: flex;
            p {
                font-weight: bolder;
                margin: 0;
            }
            #slogan {
                font-weight: 500;
                margin: 0 0.5em;
                position: relative;
                &::before {
                    content: " ";
                    position: absolute;
                    height: 1.3em;
                    width: 0.03em;
                    background: $white;
                    top: -0.1em;
                    left: -0.25em;
                }
            }
            img {
                width: 1em;
                height: 1em;
                margin: 0.1em;
            }
        }
    }
}
.container-sm {
    padding: 0 2em;
}
.container-md {
    padding: 0 15.5em;
}
.container-lg {
    padding: 0 25em;
}
.justify-left {
    justify-self: start;
}
.justify-right {
    justify-self: end;
    margin-top: 0.7em;
}
.btn {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border: 3px solid $white;
    padding: 0.7em 1.5em;
    font-size: 0.88em;
    &:hover {
        background: $blue-light;
    }
}
main {
    .banner {
        position: relative;
        padding-bottom: 7.1em;
        img {
            width: 100%;
            height: auto;
        }
        .title {
            @extend %shadow;
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            left: 0;
            background: $white;
            display: grid;
            align-items: center;
            width: 85%;
            margin: 0 auto 2.1em auto;
            padding: 1.3em;
            border-radius: 1em;
            text-align: center;
            .main-title {
                font-weight: 700;
                font-size: 2.625em;
                margin-bottom: 0.8em;
            }
            .secondary-title {
                font-style: italic;
                font-size: 1.25em;
            }
        }
    }
    .description {
        padding: 3.5em 0;
        text-align: center;
        p {
            font-size: 1.25em;
        }
    }
}
